# Supervised Learning - Course Final Project

## Algorithmic trading system that executes trades based on pre-defined criteria.

### Objectives
Main objective of the analysis that specifies whether your model will be focused on prediction or interpretation and the benefits that your analysis provides to the business or stakeholders of this data.

### The DataSet

In [7]:
import yfinance as yf
import pandas as pd

# Download historical data for a given ticker
pge = yf.Ticker("PGE")
print(pge)

pge.info

pge.history(period="max")

yfinance.Ticker object <PGE>

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2006-09-14 00:00:00-04:00,9.800,10.500,8.400,10.500,1014,0.0,0.0,0.0
2006-09-15 00:00:00-04:00,11.200,11.200,10.500,10.500,129,0.0,0.0,0.0
2006-09-18 00:00:00-04:00,10.500,10.500,10.500,10.500,0,0.0,0.0,0.0
2006-09-19 00:00:00-04:00,10.850,10.850,10.850,10.850,214,0.0,0.0,0.0
2006-09-20 00:00:00-04:00,10.850,10.850,10.850,10.850,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2018-08-01 00:00:00-04:00,0.037,0.037,0.037,0.037,0,0.0,0.0,0.0
2018-08-02 00:00:00-04:00,0.037,0.037,0.037,0.037,0,0.0,0.0,0.0
2018-08-03 00:00:00-04:00,0.037,0.037,0.037,0.037,0,0.0,0.0,0.0
2018-08-06 00:00:00-04:00,0.037,0.037,0.037,0.037,0,0.0,0.0,0.0
2018-08-07 00:00:00-04:00,0.037,0.037,0.037,0.037,0,0.0,0.0,0.0

In [10]:
pge.splits

Series([], Name: Stock Splits, dtype: float64)